/*Body settings and animation for page load */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    position: relative;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-size: 13px;
   
}
html,body{
    overflow-x: hidden;
}

*:not(html,body,input,#search-icon,#bar-search-icon){
    animation:transitionIn 1.50s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(5,4,48,1) 0%, rgba(6,6,55,1) 13%, rgba(0,68,81,1) 100%);
    z-index: -1;
}

hr {
    background-color: rgba(141, 141, 141, 0.347);
    height: 1px;
    border: 0;
    margin-top: 0;
}

/* Side nav */
.open-btn {
    display: none;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 100;
}

/* Button styles for closing the side nav */
.close-btn {
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 150px;
    z-index: 100;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.955);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}

.side-nav .logo-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 20px;
}

.side-nav-links ul {
    list-style-type: none;
    padding-left: 0;

}

.side-nav-links ul li {
    padding: 15px 20px;
}

.side-nav-links ul li a {
    color: rgba(255, 255, 255, 0.836);
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.side-nav-links ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* About Section */
.about_container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.about_container p {
    color: white;
    font-size: 17px;
    text-align: center;
}
.about_backplate{
    background-color: rgba(255, 255, 255, 0.034);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_title {
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

p {
    color: white;
    width: 500px;
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background: none;
    margin: 0;
}

/* Team Section */
.team_container {
    min-height: 500px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.179);
    text-align: center;
    color: white;
}

.team_title {
    font-size: 32px;
    margin-bottom: 40px;
}

.team_members {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.team_card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.517);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.team_card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


.circle-avatar{
        width: 125px; 
        height: 125px; 
        border-radius: 50%; 
        object-fit: cover;
}
.team_info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.team_info p {
    width: 100%;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    text-align: center;
}

.team_bio {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    overflow-wrap: break-word;

}




/* Contact Section */
.contact_container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.218);
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 0;
}

.contact_title {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.181);
    padding: 70px;
    border-radius: 5%;
}

.form_group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
    color: white;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    background-color:transparent;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}

.submit_btn {
    display: block; 
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
    width: 150px; 
    height: 50px; 
    padding: 10px;
    margin: 0 auto; 
    border-radius: 25px; 
    cursor: pointer;
    font-size: 16px;
    text-align: center; 
    line-height: 30px; 
}
@keyframes ellipsis {
    0% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75% {
        content: '...';
    }
    100% {
        content: '';
    }
}

.loading::after {
    content: '';
    animation: ellipsis 2.5s linear infinite;
}
.submit_btn:hover {
    transition: 1s;
    background-color: #0056b3;
    border: 1px solid #0056b3;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(87, 87, 87);
    height: 20px;
    background-color: rgba(82, 82, 82, 0.248);
    
}

/* Responsive for small screens */
@media screen and (max-width: 480px) {
    .nav-container {
        display: none;
    }

    .open-btn {
        display: block;
    }

    .about_container p {
        color: white;
        max-width: 350px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .team_members {
        flex-direction: column;
        align-items: center;
    }

    .team_card {
        width: 80%;
        margin-bottom: 20px;
    }

    .nav-links ul li a {
        font-size: 11px;


    }
}
