/*Body settings and animation for page load */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(132deg, rgba(0,0,0,1) 20%, rgba(30,30,30,1) 51%, rgba(36,36,36,1) 100%);
    z-index: -1;
}

*:not(html,body,input,#search-icon,#bar-search-icon,.lamp){
    animation:transitionIn 1.50s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}


/* Consult the Genie section */


.consult-genie-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.consult-genie-text {
    margin-top: 7%;
    font-size: 30px;
    color: white;
}

@keyframes animate {
    from {
        bottom: 0px;
    }
    to {
        bottom: 30px;
    }
}

.lamp {
    margin-left: 40px;
    width: 300px;
    height: 200px;
    position: relative; 
    animation: animate 3s alternate infinite;
    cursor:pointer;
}
.shadow {
    width: 300px;
    height: 200px;
}
.gpt-input {
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 600px;
}

.gpt-input textarea {
    width: 100%;
    height: 20px;
    padding: 15px;
    border: 2px solid rgba(121, 121, 121, 0.548);
    border-radius: 40px;
    background-color:transparent;
    color: white;
    font-size: 1em;
    resize: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
   
}

.gpt-input textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.gpt-input .submit-arrow {
    position: absolute;
    right: 50%;
    bottom: 15px;
    right: 15px;
    background: none;
    color: rgba(199, 199, 199, 0.477);
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.351);
    transition: background-color 0.6s ease;

}
.gpt-input .submit-arrow:hover{
    background-color: rgba(112, 112, 112, 0.642);

}


hr{
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc; 
}

/* Movie cards for trending movie*/
.movie-main {
    margin-bottom: 100px;
}

.movie-header {
    color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.movie-header h1 {
    font-size: 64px;
}



.movie-section {
    color: white;
    min-height: 50vh;

    padding: 10px 20px;

}

.movie-sec-trend {
    font-weight: bold;
}

.movie-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie_card {
    cursor: pointer;
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    background-color: rgba(121, 121, 121, 0.517);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 4px 4px 8px rgb(255, 255, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px 20px;


}

.movie_card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(87, 87, 87);
    height: 20px;
    background-color: rgba(82, 82, 82, 0.248);
}

.footer-container a {
    text-decoration: underline;
    color:rgb(87, 87, 87);
}
