.movie-main {
    margin-bottom: 100px;
}

.movie-header {
    color: white;
    height: 50vh;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;

}

.movie-header h1 {
    font-size: 64px;
}



.movie-section {
    color: white;
    min-height: 50vh;

    padding: 10px 20px;

}

.movie-sec-trend {
    font-weight: bold;
}

.movie-cards {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie_card {
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    background-color: rgba(121, 121, 121, 0.517);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 4px 4px 8px rgb(255, 255, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px 20px;


}

.movie_card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.footer-container {
    color: white;
    height: 200px;
    background-color: rgb(82, 82, 82);
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    scroll-behavior: smooth;
}

.nav-container {
    top: 0%;
    position: absolute;
    width: 100%;
    height: 15px;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(101, 99, 99, 0.253);
    box-shadow: 5px 5px 15px rgba(90, 90, 90, 0.4);
    z-index: 50;
}

.nav-miniLogo {
    width: 110px;
    height: 50px;
}

.nav-links {
    min-width: 30%;
    padding: 0 40px;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-links ul li {
    display: flex;
    align-items: center;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 20px 20px;
    flex-wrap: nowrap;
    transition: color .4s ease, background-color .4s ease;
    align-items: center;
    justify-content: center;
}

.nav-links ul li a:hover {
    background-color: rgb(32, 32, 32);
    color: #6a6a6a;
}

.nav-links ul li input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    color: white;
    background-color: rgba(87, 87, 87, 0.333);
    font-size: 17px;

    border-radius: 20px;
    outline: none;
}

.nav-links ul li .fa-search {
    position: relative;
    left: 10px;
    transform: translateY(-50%);
}



.nav-links ul li.search-container {
    position: relative;

    flex-grow: 1;
}

.nav-links ul li #search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    cursor: pointer;
    transition: color 0.1s ease;
}

.nav-links ul li #search-icon.active {
    color: #000;
}

.nav-links ul li #search-input {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 20px;

    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
}

.nav-links ul li #search-input.expanded {
    width: 350px;
    opacity: 1;
}