/* Nav Section */
.nav-container {
    top: 0%;
    position: absolute;
    width: 100%;
    height: 26px;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.253);
    z-index: 50;
    font-family: "Arsenal SC", sans-serif;
}

.nav-miniLogo {
    width: 110px;
    height: 50px;
}

.nav-links {
    min-width: 30%;
    padding: 0 40px;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-links ul li {
    display: flex;
    align-items: center;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 20px 20px;
    flex-wrap: nowrap;
    transition: color .4s ease, background-color .4s ease;
    align-items: center;
    justify-content: center;
}

.nav-links ul li a:hover {
    background-color: rgb(32, 32, 32);
    color: #6a6a6a;
}


/* Search in nav bar*/

.nav-links ul li input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    color: white;
    background-color: rgba(87, 87, 87, 0.333);
    font-size: 17px;
    border-radius: 20px;
    outline: none;
}
.fa-search {
    position: relative;
    left: 10px;
    transform: translateY(-50%);
}



.search-container {
    position: relative;
    flex-grow: 1;
}


#search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    cursor: pointer;
    transition: color 0.1s ease;
}

#search-icon.active {
    color: #000;
}

#search-input {
    float: left;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 20px;
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
}


#search-input.expanded {
    width: 350px;
    opacity: 1;
    padding: 6px 36px;
}

/* Side nav */
.open-btn {
    display: none;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 100;
}

/* Button styles for closing the side nav */
.close-btn {
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 150px;
    z-index: 101;
    transition: .5s;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    z-index: 100;
}

.side-nav .logo-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 20px;
}

.side-nav .logo{
    margin-top:-40px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
.side-nav-links ul {
    list-style-type: none;
    padding-left: 0;

}

.side-nav-links ul li {
    padding: 15px 20px;
}

.side-nav-links ul li a {
    color: rgba(255, 255, 255, 0.836);
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.side-nav-links ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/*  Side Nav Search */
.fa-search {
    position: relative;
    left: 10px;
    transform: translateY(-50%);
}


.bar-search-container {
    position: relative;
    flex-grow: 1;
}


#bar-search-icon {
    position: absolute;
    margin-left: 16px;
    margin-top: 13px;
    color: #ccc;
    transition: color 0.1s ease;
}

#bar-search-icon.active {
    color: #000;
}

#bar-search-input {
    float: left;
    padding: 6px;
    border: none;
    font-size: 10px;
    background-color: rgba(87, 87, 87, 0.333);
    border-radius: 20px;
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
}

#bar-search-input.expanded {
    width: 140px;
    float: left;
    opacity: 1;
    border: none;
    color: white;
    background-color: rgba(87, 87, 87, 0.333);
    font-size: 10px;
    border-radius: 20px;
    outline: none;
    padding-left: 28px;
}

.bar-fa-search {
    position: relative;
    left: 10px;
    transform: translateY(-50%);
}

/* Responsive for small screens */
@media screen and (max-width: 768px) {
    .nav-links ul li a {
        font-size: 9px;
    }
}

@media screen and (max-width: 480px) {
    .nav-container {
        display: none;
    }
    .open-btn {
        display: block;
    }
    .about_container p {
        color: white;
        max-width: 350px;
        text-align: center;
    }
}