/* this is for the pages that don't have movie cards */
@keyframes transitionIn{
  from{
      opacity: 0;
      transform: rotateX(-10deg);
  }
  to{
      opacity: 1;
      transform: rotateX(0);
  }
}
body{
    animation:transitionIn 1.50s;
}
/* search pop up */
.search_overlay {
    position: fixed; /* Ensures it covers the entire screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(118, 118, 118, 0.9); /* Semi-transparent background */
    z-index: 9999; /* Very high z-index to ensure it stays on top */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; /* Enable scrolling if content overflows */
    animation:transitionIn 1.50s;
}

/* Popup styling */
.popup {
    position: relative;
    background-color: rgb(111, 111, 111);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 90%;
    text-align: center;
    z-index: 10000; /* Ensure it's above the overlay if needed */
    animation:transitionIn 1.50s;

}

/* Close button styling */
/* Close button */
.close-button-search {
    position: absolute; /* Position close button within the popup */
    top: 10px; /* Distance from the top of the popup */
    right: 24px; /* Distance from the right side of the popup */
    width: 30px; /* Set width to create a circular button */
    height: 30px; /* Set height to create a circular button */
    background-color: transparent;
    color: black;
    border: 2px solid black; /* Add a border to make the button more visible */
    border-radius: 50%; /* Make the button circular */
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition for hover effects */
    animation: transitionIn 1.50s;
}

.close-button-search:hover {
    background-color: gray;
    color: white;
    border-color: rgb(255, 255, 255);
}

/* Ensure the button has hover and active styles */


.close-button-search:active {
    background-color: gray;
}

/* Movie card styling */
.movie_card {
    display: inline-block;
    margin: 10px;
    cursor: pointer;   
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    margin: 10px 20px    
    
}

.movie_card img {
    max-width: 250px;
    border-radius: 4px;
}

.movie_card:hover {
    transform: scale(1.1); /* Slight zoom effect */
}

@media (max-width: 1024px) {
    .search_overlay {
       
      justify-content: flex-start;
      flex-direction: column;
      overflow-x: auto;
  }
}