body{
    background-color: rgb(78, 76, 76);
}
#movie-collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.movie-card{
    width: 300px;
    height: 300px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* card look */
    color:rgb(250, 250, 250);
    background-color: rgb(47, 47, 50);
    box-shadow: 3px 3px 3px black;

}
