html, body {
    height: 100%;
    background-color: black;
    margin: 0;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
}
body{
    animation:transitionIn 1.50s;

}

  @keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.movie-info {
    margin-top: 55px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    color: white;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 12px 5px rgb(90 84 84 / 26%);
}

.movie-details {
    max-width: 550px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    transform: translateY(-100px);
}

.movie-details h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ffffff;
}
.movie-info-span {
    margin: 10px 0;
    color: white;
    font-size: 16px;
}

.info-item {
    margin-right: 5px;
    padding: 0 5px;
}
.age-res {
    background-color: red;
}

.movie-details p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.4;
    color: #d3d3d3;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.play-button {
    width: 150px;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(204, 0, 0, 0.8); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Streaming Links */

/* The Modal (Background) */
.streaming-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Higher stack level */
    left: 0;
    top: 0;
    border-radius: 8px; /* Smooth corners */

    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    backdrop-filter: blur(8px); /* Blurred background effect */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Modal Content */
.modal-content {
    position: relative; /* Needed for the animation effect */
    margin: 10% auto; /* Adjust centering */
    padding: 20px;
    border-radius: 8px; /* Smooth corners */
    background-color: rgb(190, 190, 190); /* White background for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    width: 80%;
    max-width: 500px; /* Responsive width */
    text-align: center;
    animation: modalFadeIn 0.5s ease; /* Animation on appearance */
}

.modal-content::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid #e63946; /* Red border animation */
    border-radius: 8px;
    animation: borderPulse 1.5s infinite ease-in-out; /* Glowing animation */
    pointer-events: none;
}
@keyframes fadeInGlow {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 4px rgba(229, 46, 113, 0.2);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 4px 10px rgba(229, 46, 113, 0.6);
    }
}
/* Heading inside Modal */
.modal-content h3 {
    font-size: 1.7rem; /* Larger, more prominent size */
    font-weight: bold;
    color: #ffffff; /* White color for high contrast */
    background: linear-gradient(45deg, #ff8a00, #e52e71); /* Gradient color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Fill text with gradient */
    text-shadow: 0px 4px 10px rgba(229, 46, 113, 0.6); /* Subtle shadow for depth */
    padding: 22px; /* Space around the text */
    margin: 0; /* Remove default margin */
    /*border-bottom: 2px solid rgba(229, 46, 113, 0.6); /* Border for separation */
    display: inline-block;
    animation: fadeInGlow 1.5s ease-in-out forwards; /* Fade-in animation */
}

/* Platforms List */
.platforms {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.platforms h1 {
    color: #e63946; /* Softer red for elegance */
    font-size: 1.2rem;
}

/* Platform Logo */
.platform-logo {
    width: 80px; /* Adjusted size for better fit */
    height: auto;
    border-radius: 4px; /* Rounded edges for a polished look */
    z-index: 99;
}

/* The Close Button */
.close-button {
    color: black;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    
    right: 25px;
    transition: color 0.3s; /* Smooth hover effect */
    background-color: transparent;
    
}

.close-button:hover,
.close-button:focus {
    color: white; /* Darker color for hover */

    text-decoration: none;
    cursor: pointer;
}

/* Animations */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes borderPulse {
    0% {
        border-color: #e63946;
        box-shadow: 0 0 5px #e63946;
    }
    50% {
        border-color: #ff6f61;
        box-shadow: 0 0 15px #ff6f61;
    }
    100% {
        border-color: #e63946;
        box-shadow: 0 0 5px #e63946;
    }
}


.fa-play {
    font-size: 24px;
}
.add-to-my-list, .trailer-btn {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.add-to-my-list {
    font-size: 24px;
    text-align: center;
}
.fa-film {
    color: white;
    font-size: 24px;
}
.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #000000;
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}
.add-to-my-list:hover .tooltip,
.trailer-btn:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.add-to-my-list:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}
.trailer-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.trailer-btn:hover .fa-film {
    color: rgb(0, 0, 0);
}

/* Scrollable Related Movies Section */
.related-movies h2 {
    font-size: 2.1rem; /* Larger, more prominent size */
    font-weight: bold;
    color: #ffffff; /* White color for high contrast */
    background: linear-gradient(45deg, #ff8a00, #e52e71); /* Gradient color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Fill text with gradient */
    text-shadow: 0px 4px 10px rgba(229, 46, 113, 0.6); /* Subtle shadow for depth */
    padding: 22px; /* Space around the text */
    margin: 0; /* Remove default margin */
    /*border-bottom: 2px solid rgba(229, 46, 113, 0.6); /* Border for separation */
    display: inline-block;
    animation: fadeInGlow 1.5s ease-in-out forwards; /* Fade-in animation */

}

.list-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-related-movies {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

#movie-scroll-area {
    min-width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
    padding: 10px;
}

/* Hide scrollbar for webkit browsers */
#movie-scroll-area::-webkit-scrollbar {
    display: none;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.138);
    border: none;
    cursor: pointer;
    padding: 65px 20px;
    font-size: 24px;
    color: white;
    z-index: 2;
    display: none;
}

/* Show buttons only when hovering over the list-related-movies container */
.list-related-movies:hover .scroll-button {
    display: block;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

#movie-scroll-area img {
    width: 300px;
    height: auto;
    display: inline-block;
    border-radius: 10px;
}

/* Reviews Section */
.reviews-section {
    width: 100%;
    margin: 60px auto;
    padding: 40px;
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.reviews-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: #FFD700;
    font-weight: bold;
    letter-spacing: 1px;
}

.reviews-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

/* reivew forum */

.review-form {
    width: 60%;
    margin-top: 20px;
    padding: 15px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
  }
  
  .review-form h3 {
    margin-bottom: 10px;
    color: #fff;
  }
  
  .review-form label {
    display: block;
    margin: 10px 0 5px;
    color: #fff;
  }
  
  .review-form input[type="text"],
  .review-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: white;
  }
  
  .review-form textarea {
    resize: vertical;
    background-color: transparent;
    color: white;
  }
  
  .rating-input {
    display: flex;
    gap: 5px;
    direction: rtl;

  }
  
  .rating-input input {
    display: none;
  }
  
  .rating-input label {
    font-size: 1.5em;
    color: #ddd;
    cursor: pointer;
  }
  
  .rating-input input:checked ~ label,
  .rating-input label:hover,
  .rating-input label:hover ~ label {
    color: #ffc107;
  }
  
  .review-form button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: #000;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .review-form button:hover {
    background-color: #cfb000;
  }
  

/* Review Item Styling */
.review-item {
    background-color: #333;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.review-item:hover {
    transform: translateY(-5px);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-info h3 {
    font-size: 22px;
    margin: 0;
    color: #FFD700;
}

.star-rating {
    font-size: 20px;
    color: #FFD700;
}

.review-item p {
    font-size: 18px;
    line-height: 1.6;
    color: #e0e0e0;
    margin-top: 12px;
}

/* Responsive Layout for Larger Screens */
@media (min-width: 768px) {
    .reviews-list {
        grid-template-columns: 1fr 1fr;
    }

    .movie-details {
        padding-left: 30px; /* Adjust padding for larger screens */
        transform: translateY(0); /* Reset transform for larger screens */
    }

    .movie-details h1 {
        font-size: 56px; /* Increase font size for larger screens */
    }

    .play-button {
        width: 200px; /* Increase button width for larger screens */
        font-size: 20px; /* Increase font size for larger screens */
    }
}

@media (min-width: 1024px) {
    .reviews-section {
        padding: 60px; /* More padding on larger screens */
    }

    .scroll-button {
        padding: 80px 30px; /* Increase button padding for larger screens */
        font-size: 28px; /* Increase button font size for larger screens */
    }

    #movie-scroll-area img {
        width: 400px; /* Larger image size on wider screens */
    }
}

@media (max-width: 767px) {
    .movie-details {
        padding-left: 20px; /* Adjust padding for smaller screens */
        transform: translateY(0); /* Reset transform for smaller screens */
    }

    .movie-details h1 {
        font-size: 36px; /* Decrease font size for smaller screens */
    }

    .play-button {
        width: 100%; /* Make button full width on smaller screens */
        font-size: 16px; /* Decrease font size for smaller screens */
    }
}
/* Responsive Layout for Small Phones */
/* Responsive Layout for Small Phones */
@media (max-width: 576px) {
    .movie-details {
        padding-left: 20px; /* Reduce left padding */
        transform: translateY(0); /* Reset transform for visibility */
        margin-top: 650px;
    }

    .movie-details h1 {
        font-size: 28px; /* Adjust heading size */
    }

    .movie-info-span {
        font-size: 14px; /* Adjust font size */
    }

    .play-button {
        flex: 1;
        width: 100%; /* Full width button */
        font-size: 16px; /* Adjust font size */
    }
    

    .add-to-my-list, .trailer-btn {
        width: 40px; /* Adjust icon button size */
        height: 40px;
        font-size: 20px; /* Adjust icon size */
    }
    .related-movies{
        margin-top: 450px;
    }
    .related-movies h2 {
        margin-top: 30px;
        font-size: 24px; /* Adjust heading size */
    }

    
}
