{% extends "base.html" %}

{% block title %}Movie Search{% endblock %}

{% block extra_styles %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/overlay.css') }}"
/>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/movie.css') }}"
/>
{% endblock %}

{% block content %}

    <!-- Consult the Genie section -->
    <div class="consult-genie-container">
        <div class="pre-animation">
            <div id="consult-genie-text">Click to consult the Genie...</div>
            <img id="lamp" src="static/img/lamp.png" alt="lamp">
            <img id="shadow" src="static/img/shadow.png" alt="shadow">
        </div>

        <div class="post-animation">
            <img id="gptLogo" src="static/img/logo.png" alt="logo">
            <textarea id="gptInput" placeholder="Type your request to the Genie..."></textarea>
            <h1 id="gptHeader">Our Genie is AI powered, so speak to it as you would a friend and let the Genie do the
                rest.
        </div>

        </h1>

    </div>

    <hr>
    <!-- Trending movies -->
    <div class="movie-section">
        <h1 class="movie-sec-trend">TRENDING NOW</h1>
        <div class="movie-cards">
            <!-- Trending movies created in js-->
        </div>
    </div>


{% endblock %}


{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/popular.js') }}"></script>   

    <!-- lamp effects -->
    <script>
            
            
        document.addEventListener('DOMContentLoaded', function () {
            const lampIcon = document.getElementById('lamp');
            const shadow = document.getElementById('shadow');
            const genieText = document.getElementById('consult-genie-text');
            const textBox = document.getElementById("gptInput")
            const header = document.getElementById("gptHeader")
            const logo = document.getElementById("gptLogo")

            lampIcon.addEventListener('click', function () {
                lampIcon.classList.toggle('activated');
                shadow.classList.toggle('activated');
                genieText.classList.toggle('activated');
                textBox.classList.toggle('activated');
                header.classList.toggle('activated');
                logo.classList.toggle('activated');
            });
        });

        document.getElementById('lamp').addEventListener('click', function () {
            const smoke = document.getElementById('smoke');
            smoke.classList.add('active');
            setTimeout(() => {
                smoke.classList.remove('active');
            }, 2000);
        });
    </script>
{% endblock %}