{% extends "base.html" %}

{% block title %} Movie Section {% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="static/css/landingmovie.css" />
<link rel="stylesheet" href="static/css/overlay.css" />
<link rel="stylesheet" href="static/css/nav.css" />
<link rel="stylesheet" href="static/css/search.css" />
<link rel="stylesheet" href="static/css/footer.css" />
{% endblock %}

{% block content %}
{% if backdrop_path %}
<div class="movie-info">
  <div class="image-container">
    <img src="{{backdrop_path}}" alt="Movie Poster" />
    <div class="overlay">
      <div class="movie-details">
        <h1>{{movie_title}}</h1>
        <div class="movie-info-span">
          <span class="info-item">2024</span> |
          <span class="info-item age-res">18+</span> |
          <span class="info-item">120 min</span> |
          <span class="info-item">Action, Adventure</span>
        </div>
        <p>{{movie_description}}</p>
        <div class="button-container">
          <!-- Streaming Modal (Popup) -->
          <div id="streamingModal" class="streaming-modal">
            <div class="modal-content">
              <span class="close-button" id="closeModal">&times;</span>
              <div class="streaming-links">
                <h3>Available on:</h3>
                <div class="platforms">
                  {% for platform in streaming_platforms %}
                  <a href="{{ platform['url'] }}" target="_blank">
                    <img
                      src="{{ platform['logo_url'] }}"
                      alt="{{ platform['name'] }} Logo"
                      class="platform-logo"
                    />
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <!-- play button -->
          <button class="play-button">
            <i class="fa-solid fa-play"></i> Play Movie
          </button>
          <button class="trailer-btn" onclick="render_trailer('{{movie_id}}')">
            <i class="fa-solid fa-film"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="related-movies">
  <h2>Related</h2>
  <div class="list-container">
    <div class="list-related-movies" id="scroll-container">
      <button class="scroll-button left" onclick="scrollLeftMovies()">
        &#10094;
      </button>
      <div id="movie-scroll-area" class="movie-cards">
        {% for movie in other_movies %}
        <div class="movie_card" onclick="window.location.href='/movie/{{ movie.id }}'">
          <img
            src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}"
            alt="Movie Poster"
          />
          <div class="overlay">
            <h1>{{ movie.title }}</h1>
            <h2>Rating: {{ movie.vote_average }}</h2>
            <div class="rating">
              {% set userRating = (movie.vote_average / 2) | round(0, 'floor') %}
              {% for star in range(1, 6) %}
              <i class="{{ 'fas fa-star' if star <= userRating else 'far fa-star' }}"></i>
              {% endfor %}
              <span>{{ userRating }}/5</span>
            </div>
            <p>Release Date: {{ movie.release_date }}</p>
            <p class="desc">
              {% set maxLength = 100 %}
              {% if movie.overview and movie.overview | length > maxLength %}
                {{ movie.overview[:maxLength] }}...
              {% else %}
                {{ movie.overview or 'No description available.' }}
              {% endif %}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="scroll-button right" onclick="scrollRightMovies()">
        &#10095;
      </button>
    </div>
  </div>
</div>

<div class="review-form">
  <h3>Leave a Review</h3>
  <form id="reviewForm">
    <label for="name">Your Name:</label>
    <input type="text" id="name" name="name" required />

    <label for="rating">Rating:</label>
    <div class="rating-input">
      <input type="radio" id="star5" name="rating" value="5" />
      <label for="star5">★</label>
      <input type="radio" id="star4" name="rating" value="4" />
      <label for="star4">★</label>
      <input type="radio" id="star3" name="rating" value="3" />
      <label for="star3">★</label>
      <input type="radio" id="star2" name="rating" value="2" />
      <label for="star2">★</label>
      <input type="radio" id="star1" name="rating" value="1" />
      <label for="star1">★</label>
    </div>

    <label for="review">Your Review:</label>
    <textarea id="review" name="review" rows="4" required></textarea>

    <button type="submit">Submit Review</button>
  </form>
</div>

<div class="reviews-section">
  <h2>Reviews</h2>
  <div class="reviews-list">
    <div class="review-item">
      <div class="user-info">
        <h3>John Doe</h3>
        <div class="star-rating">★★★★☆</div>
      </div>
      <p>
        This movie was fantastic! The story was compelling, and the acting was
        top-notch.
      </p>
    </div>

    <div class="review-item">
      <div class="user-info">
        <h3>Jane Smith</h3>
        <div class="star-rating">★★★☆☆</div>
      </div>
      <p>Great visual effects, but the plot could have been stronger.</p>
    </div>
  </div>
</div>

{% else %}
<div class="error-message movie-info" style=" color: #fff; padding: 20px; text-align: center; border-radius: 8px; display: flex; flex-direction: column;">
  <h2 style="margin: 0; font-size: 24px;">Movie Data Unavailable</h2>
  <p style="margin: 10px 0; font-size: 16px;">
      Sorry, the movie details cannot be displayed at this time.
  </p>
  <button onclick="window.history.back()" 
          style="background-color: #ff4500; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 4px; cursor: pointer;">
      Go Back
  </button>
</div>

{% endif %}
{% endblock %}


{% block extra_scripts %}
<script src="static/js/nav.js"></script>
<script src="static/js/search.js"></script>
<script>
  const movieId = "{{ movie_id }}";

  async function loadReviews(movieId) {
    try {
      const response = await fetch(`/moviGenie/get_reviews/${movieId}`);
      if (response.ok) {
        const review_list = await response.json();
        if (!review_list || review_list.length === 0) {
          console.log("No reviews available.");
          return;
        }
        console.log(review_list);

        for (rev of review_list) {
          const reviewItem = document.createElement("div");
          reviewItem.classList.add("review-item");

          reviewItem.innerHTML = `
              <div class="user-info">
              <h3>${rev.username}</h3>
              <div class="star-rating">${"★".repeat(rev.rating)}${"☆".repeat(
            5 - rev.rating
          )}</div>
              </div>
              <p>${rev.review}</p>
          `;
          const reviewsList = document.querySelector(".reviews-list");
          reviewsList.appendChild(reviewItem);
        }
      } else {
        console.error("Failed to fetch reviews:", response.status);
      }
    } catch (error) {
      console.error("Error fetching reviews:", error);
    }
  }
  loadReviews(movieId);

  function render_trailer(movieId) {
    fetch(`/moviGenie/trending_movie/${movieId}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ movie_id: movieId }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.url) {
          window.location.href = data.url;
        } else {
          alert("Trailer not found");
        }
      })
      .catch((error) => {
        alert("Error fetching trailer: " + error.message);
      });
  }

  document
    .querySelector(".trailer-btn")
    .addEventListener("click", function (event) {
      event.preventDefault();
      const movieId = "{{ movie_id }}";
      render_trailer(movieId);
    });

  document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("reviewForm")
      .addEventListener("submit", function (e) {
        e.preventDefault();
        const name = document.getElementById("name").value;
        const rating = document.querySelector('input[name="rating"]:checked')?.value;
        const review = document.getElementById("review").value;

        if (!rating) {
          alert("Please select a rating before submitting.");
          return;
        }

        const movieId = "{{ movie_id }}";
        const review_data = JSON.stringify({
          movie_id: movieId,
          name: name,
          rating: rating,
          review: review,
        });

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        try {
          fetch("/moviGenie/add_review", {
            method: "POST",
            body: review_data,
            headers: myHeaders,
          });
          console.log("Review submitted successfully.");
        } catch (error) {
          console.error("Error submitting review:", error);
        }

        const reviewItem = document.createElement("div");
        reviewItem.classList.add("review-item");

        reviewItem.innerHTML = `
            <div class="user-info">
            <h3>${name}</h3>
            <div class="star-rating">${"★".repeat(rating)}${"☆".repeat(
          5 - rating
        )}</div>
            </div>
            <p>${review}</p>
        `;
        const reviewsList = document.querySelector(".reviews-list");
        reviewsList.appendChild(reviewItem);

        document.getElementById("reviewForm").reset();
        console.log("Review added:", { movieId, rating, review });
      });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const playButton = document.querySelector(".play-button");
    const streamingModal = document.getElementById("streamingModal");
    const closeButton = document.getElementById("closeModal");

    playButton.addEventListener("click", function () {
      streamingModal.style.display = "block";
    });

    closeButton.addEventListener("click", function () {
      streamingModal.style.display = "none";
    });

    window.addEventListener("click", function (event) {
      if (event.target === streamingModal) {
        streamingModal.style.display = "none";
      }
    });
  });
</script>
{% endblock %}
